.footer{
  display: flex;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  background-color:#fcf5e5;
  justify-content: center;
  margin-top: 60px;
}
.footer__text {
  margin: 0;
  padding: 0;
}