.card {
  font-weight: 400;
  line-height: 1.2;
  position: relative;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.card__image:hover{
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.card__content {
  display: flex;
  margin-top: 12px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/like-icon-dark.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card__like-button_active {
  opacity: 1;
  background-image: url(../images/State=liked2.svg);
}

.card__delete-button {
  background-image: url(../images/State=trash.svg);
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

}

.card__delete-button:hover {
  background-image: url(../images/State=Hover_trash.svg);
  transition: background-image 0.3s;
}

.card__title {
  margin: 0;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  font-weight: 500;
  line-height: 1.2;
}

.card__like-button:hover {
  opacity: 100%;
  transition: opacity 0.3s;

}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
